{% extends 'AppBundle:Ranking:layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ date | date('Y-m-d H:i') }}<small> - {{ ranking.name }}</small></h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="{{ path('app_ranking_list') }}"><span class="fa fa-home"></span>ランキング</a></li>
        <li><a href="{{ path('app_ranking_index', {id: id}) }}"><span class="fa fa-home"></span>{{ ranking.name }}</a></li>
        <li class="active">{{ date | date('Y-m-d H:i') }}</li>
    </ol>
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>順位</th>
                    <th>ユーザー</th>
                    <th>量</th>
                </tr>
            </thead>
            <tbody>
                {% for val in data %}
                <tr>
                    <td>{{ val[0] }}</td>
                    <td><a href="{{ path('app_ranking_user', {id: id, user: val[1]}) }}">{{ val[1] }}</a></td>
                    <td>{{ val[2] | number_format }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
