{% extends 'AppBundle:Ranking:layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ ranking.name }}</h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="{{ path('app_ranking_list') }}"><span class="fa fa-home"></span>ランキング</a></li>
        <li class="active">{{ ranking.name }}</li>
    </ol>
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>順位</th>
                    {% for key, val in data %}
                    <th><a href="{{ path('app_ranking_date', {id: id, date: key | date('YmdHis')}) }}">{{ key | date('H') }}時</a></th>
                    <th></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for rank in 0..99 %}
                    <tr>
                        <th>{{ rank + 1 }}</th>
                        {% for key, val in data %}
                        <th><a href="{{ path('app_ranking_user', {id: id, user: val[rank][1]}) }}">{{ val[rank][1] }}</a></th>
                        <th class="text-right">{{ val[rank][2] | number_format }}</th>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}