<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>CoinEx Ranking</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
</body>
</html>