{% extends 'AppBundle:Ranking:layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>ランキング</h1>
    </div>
    <ol class="breadcrumb">
        <li class="active">ランキング</li>
    </ol>
    
    <div class="row">
        {% for id, ranking in rankings %}
        <div class="col-md-4">
            <div class="well well-sm" style="background-color: #FFF;">
                <div>#{{ id }}</div>
                <div><a href="{{ path('app_ranking_index', {id: id}) }}">{{ ranking.name }}</a></div>
                <div>開始：{{ ranking.start }}</div>
                <div>終了：{{ ranking.end }}</div>
                <div>アナウンス：<a href="{{ ranking.announcement }}" target="_blank">CoinEx</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}