{% extends 'AppBundle:Ranking:layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ user }}<small> - {{ ranking.name }}</small></h1>
    </div>
    <ol class="breadcrumb">
        <li><a href="{{ path('app_ranking_list') }}"><span class="fa fa-home"></span>ランキング</a></li>
        <li><a href="{{ path('app_ranking_index', {id: id}) }}"><span class="fa fa-home"></span>{{ ranking.name }}</a></li>
        <li class="active">{{ user }}</li>
    </ol>
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>日時</th>
                    <th>順位</th>
                    <th>量</th>
                    <th>増加</th>
                </tr>
            </thead>
            <tbody>
                {% for key, val in data %}
                <tr>
                    <td><a href="{{ path('app_ranking_date', {id: id, date:  key | date('YmdHis')}) }}">{{ key | date('m月d日H時') }}</a></td>
                    <td>{{ val['rank'] }}位</td>
                    <td class="text-right">{{ val['amount'] | number_format() }}</td>
                    <td>
                        {% if before is defined %}
                            {{ (val['amount'] - before) | number_format() }}
                        {% endif %}
                    </td>
                    {% set before = val['amount'] %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
